{% extends "Apreender/layout.html" %}
{% load static %}
{% block title %}Home Page{% endblock %}
{% block body %}

    {% if subjectTopics %}
        {% for subject in subjectTopics %}
            <div class="subject-container">
                <h2 class="color6">{{ subject.subject }}</h2>
                <ul class="topic-list">
                    {% for topic in subject.topics %}
                        <li class="topic-item">
                            <label class="topic-label">
                                <input type="checkbox" name="subscribe" class="" value="yes" id="topic-{{ topic.id }}">
                                <a href="{% url 'topicView' topic.id %}" class="link-default">{{ topic.name }}</a>
                            </label>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    {% else %}
        <p>Não tem problemas</p>
    {% endif %}
    <script src="{% static 'Apreender/indexScript.js' %}"></script>
{% endblock %}
