{% extends "Apreender/layout.html" %}
{% block title %}Exercicio{% endblock %}
{% block body %}
    {% if errorMessage %}
        <div class="alert alert-error">{{ errorMessage }}</div>
    {% endif %}
    
    <div class="register-container">
        <div class="register-box">
            <h2 class="register-title">Registrar Novo Exercício</h2>
            <form class="register-form" method="POST" enctype="multipart/form-data" action="{% url 'problem' %}">
                {% csrf_token %}
                
                <div class="input-group">
                    <label for="problemName">Nome do Exercicio</label>

                    <textarea name="problemName" id="problemName" maxlength="500" rows="1" required></textarea>
                </div>
                <div class="input-group">
                    <label for="problemStatement">Enunciado do problema</label>
                    <textarea name="problemStatement" id="problemStatement" maxlength="10000" rows="5" required></textarea>
                </div>
                <div class="input-group">
                    <label for="topic">Tópico</label>
                    <select name="topic" id="topic" required>
                        <option value="" disabled selected>Selecione um tópico</option>
                        {% for topic in topics %}
                            <option value="{{ topic.id }}">{{ topic.subject.name }} - {{ topic.name }}</option>
                        {% endfor %}
                    </select>
                    <div class="div-link">
                        <p>Cadastrar <a href="{% url 'topic' %}" class="link-default">Tópico/Aula</a></p>
                    </div>
                </div>
                
                <div class="input-group">
                    <label for="image">Imagem (opcional)</label>
                    <input type="file" name="image" id="image" accept=".jpg, .jpeg, .png">
                </div>
                
                <button type="submit" class="btn-register">Registrar</button>
            </form>
        </div>
    </div>

{% endblock %}
