{% extends "Apreender/layout.html" %}
{% block title %}subject{% endblock %}
{% block body %}
{% if errorMessage %}
        <div class="alert alert-error">{{ errorMessage }}</div>
{% endif %}
<div class="register-container">
    <div class="register-box">
        <h2 class="register-title">Registrar Novo Assunto</h2>
        <form class="register-form" action="{% url 'subject'%}" method="POST">
            {% csrf_token %}
            <div class="input-group">
                <label for="name">Nome do Assunto</label>
                <input type="text" id="name" name="name" maxlength="100" required>
            </div>
            <div class="input-group">
                <label for="description">Descrição</label>
                <textarea id="description" name="description" maxlength="500" rows="5" required></textarea>
            </div>
            <button type="submit" class="btn-register">Registrar</button>
        </form>
    </div>
</div>

        
{% endblock %}