{% extends "Apreender/layout.html" %}
{% load static %}
{% block title %}Página do Tópico{% endblock %}
{% block body %}

    <div class="question-container">
        <div class="question-statement">
            <h1>{{ topic.name }}</h1>
        </div>
        
        <div class="dropdown">
            <button class="dropdown-button">Problemas relacionados</button>
            <div class="dropdown-content">
                {% for problem in problems %}
                    <a href="{% url 'problemId' problem.id %}">
                        {{ problem.problemStatement|truncatechars:50 }}
                    </a>
                {% endfor %}
            </div>
        </div>
            {{fullHtml|safe}}
    </div>

{% endblock %}
