.color1 { color: #000000; }
.color2 { color: #7890a8; }
.color3 { color: #304878; }
.color4 { color: #181848; }
.color5 { color: #f0a818; }

body {
    margin: 0;
    padding: 0;
}

.header {
    background-color: #181848;
    padding: 15px 0;
    border-bottom: 2px solid #304878;
    margin-top: 0 !important;
    margin-bottom: 30px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    width: 100%;
}

.nav-item {
    flex-grow: 1;
    text-align: center;
    border-right: 2px solid #304878;
    padding: 10px 0;
}

.nav-item:last-child {
    border-right: none;
}

.nav-link {
    color: #f0f0f0;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: bold;
    display: block;
    transition: color 0.3s;
}

.nav-link:hover {
    color: #f0a818;
}

@media (max-width: 600px) {
    .navbar {
        flex-direction: column;
    }

    .nav-item {
        border-right: none;
        border-bottom: 1px solid #304878;
    }

    .nav-item:last-child {
        border-bottom: none;
    }
}

.problemItem {
    display: flex;
    justify-content: space-between;
    padding: 15px;
    border: 1px solid #304878;
    border-radius: 5px;
    margin-bottom: 15px;
    margin-right: 15px;
    margin-left: 15px;
    position: relative;
    min-height: 150px;
    background-color: #304878;
}

body {
    background-color: #181848;
    color: #f0f0f0;
    font-family: Arial, sans-serif;
}

.problemContent {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 160px;
}

.problemName {
    font-size: 1.4em;
    margin-top: 2%;
    margin-bottom: 1%;
    color: #f0f0f0;
}

.problemMateria {
    display: inline-block;
    margin-right: 4px;
    color: #7890a8;
}

.problemMatInfo {
    display: inline-block!important;
    padding: 0px!important;
}

.problemInfo {
    display: inline-block;
    color: #f0f0f0;
}

.problemOwner {
    margin-top: 4px;
    font-size: 0.7em;
    color: #f0a818;
}

.problemImage {
    width: 9%;
    height: 80%; 
    overflow: hidden;
    position: absolute;
    right: 10px;
    top: 10px;
    border: 2px solid #f0a818;
}

.problemImage img {
    width: 100%;
    max-width: none;
    object-fit: cover;
}

@media (max-width: 600px) {
    .problemItem {
        flex-direction: column;
        align-items: flex-start;
    }

    .problemImage img {
        position: static;
        margin-top: 10px;
    }
}

.login-container, .register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #181848;
}

.login-box, .register-box {
    background-color: #304878;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

.login-title, .register-title {
    color: #f0f0f0;
    text-align: center;
    margin-bottom: 20px;
    font-size: 1.8em;
    font-weight: bold;
}

.login-form, .register-form {
    display: flex;
    flex-direction: column;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    color: #f0f0f0;
    margin-bottom: 5px;
    display: block;
}

.input-group input {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #7890a8;
    color: #000000;
    font-size: 1em;
}

.btn-login, .btn-register {
    background-color: #f0a818;
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-login:hover, .btn-register:hover {
    background-color: #f0f0f0;
}

.register-link, .login-link {
    text-align: center;
    margin-top: 15px;
}

.link-default {
    margin-top: 15px;
    color: #f0a818;
    text-decoration: none;
    font-weight: bold;
}

.div-link {
    text-align: left;
    margin-top: 15px;
    font-weight: bold;
}

.register-link a, .login-link a {
    color: #f0a818;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover, .login-link a:hover {
    text-decoration: underline;
}

.alert {
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 25px;
    font-size: 1.2em;
    font-weight: bold;
    position: relative;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #f0f0f0;
    border-left: 8px solid;
}

.alert-success {
    background-color: #304878;
    border-left-color: #f0a818;
}

.alert-error {
    background-color: #181848;
    border-left-color: #f0a818;
}

.alert-warning {
    background-color: #7890a8;
    border-left-color: #f0a818;
}

.alert-info {
    background-color: #304878;
    border-left-color: #7890a8;
}

.alert .close-btn {
    background: transparent;
    border: none;
    font-size: 1.5em;
    color: #f0f0f0;
    cursor: pointer;
    padding: 0;
    opacity: 0.8;
    transition: opacity 0.2s ease, color 0.3s ease;
}

.alert .close-btn:hover {
    color: #f0a818;
    opacity: 1;
}

input, textarea {
    background-color: #7890a8;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    border: none;
    width: 100%;
}

textarea {
    font-size: 1.5em!important;
}


select {
    background-color: #7890a8;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    width: 100%;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 140 140"><polygon points="0,0 140,0 70,70" fill="%23000000"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 10px;
}

select:hover {
    background-color: #f0a818;
    color: #000000;
}

select:focus {
    outline: none;
    box-shadow: 0 0 5px #f0a818;
}

option {
    background-color: #7890a8;
    color: #000000;
}

.input-group input[type="file"] {
    background-color: #7890a8;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
    border: none;
    font-size: 1em;
    cursor: pointer;
}

.input-group input[type="file"]::file-selector-button {
    background-color: #f0a818;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.input-group input[type="file"]::file-selector-button:hover {
    background-color: #f0f0f0;
    color: #000000;
}

.hiddenForm {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.btn-solved {
    background-color: #f0a818;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-solved:hover {
    background-color: #f0f0f0;
    color: #181848;
}

.question-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 30px auto;
    padding: 20px;
    max-width: 1000px;
    background-color: #181848;
    border: 2px solid #304878;
    border-radius: 8px;
    color: #f0f0f0;
}

.question-statement {
    margin-bottom: 20px;
    font-size: 1.6em;
    text-align: center;
}

.question-info {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
    font-size: 1.2em;
}

.question-topic  a{
    color: #7890a8;
}
.question-topic a:hover{
    color: #f0a818;
    text-decoration: underline;
}


.question-status {
    color: #f0a818;
}

.question-image img {
    max-width: 90%;
    height: auto;
    border: 2px solid #f0a818;
    margin: 20px 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.btn-acertou {
    background-color: #f0a818;
    color: #000000;
    padding: 12px 24px;
    border: none;
    border-radius: 5px;
    font-size: 1.4em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-acertou:hover {
    background-color: #f0f0f0;
    color: #181848;
}

.question-form {
    width: 100%;
    text-align: center;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: #f0f0f0;
}

.btn, button {
    background-color: #f0a818;
    color: #000000;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 1.05em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.dropdown {
    position: relative;
    display: inline-block;
    width: 100%; /* Faz o botão preencher a largura disponível */
}

.dropdown-button {
    padding: 10px 16px;
    font-size: 1.05em;
    border: none;
    cursor: pointer;
    text-align: center; /* Centraliza o texto */
    width: 30%; /* Garante que o botão ocupe 100% da largura do container */
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #181848;
    min-width: 30%; /* Faz o dropdown ter o mesmo tamanho do botão */
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #304878;
}

.dropdown-content  a {
    color: #f0f0f0;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #f0a818;
    text-align: center; /* Centraliza o texto dos links */
    transition: background-color 0.3s ease;
    padding: 10px;
    font-size: 1.05em;
    cursor: pointer;
}

.dropdown-content a:hover {
    background-color: #f0a818;  
    color: #000000;
}

.dropdown:hover .dropdown-content {
    display: block;
    
}

.dropdown:hover .dropdown-button {
    background-color: #5a6268;
    border-radius: 1px;
}


.dropdown-container-subjects {
    display: flex;
    flex-direction: column; /* Coloca itens em coluna */
    align-items: center; /* Centraliza horizontalmente */
    margin-top: 20px; /* Margem superior para espaçamento */
}

.subject-title-subjects {
    text-align: center; /* Centraliza o texto do título */
    color: #f0f0f0; /* Cor do texto, ajuste conforme necessário */
    margin-bottom: 10px; /* Espaçamento entre o título e o dropdown */
}

.dropdown-subjects {
    position: relative;
    display: flex; /* Usar flex para centralizar */
    justify-content: center; /* Centraliza o botão */
    width: 100%; /* Faz o botão preencher a largura disponível */
}

.dropdown-button-subjects {
    padding: 10px 16px;
    font-size: 1.05em;
    border: none;
    cursor: pointer;
    text-align: center; /* Centraliza o texto */
    width: 30%; /* Garante que o botão ocupe 30% da largura do container */
}

.dropdown-content-subjects {
    display: none;
    position: absolute;
    background-color: #181848;
    min-width: 30%; /* Faz o dropdown ter o mesmo tamanho do botão */
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
    border: 1px solid #304878;
}

.dropdown-content-subjects a {
    color: #f0f0f0;
    text-decoration: none;
    display: block;
    border-bottom: 1px solid #f0a818;
    text-align: center; /* Centraliza o texto dos links */
    transition: background-color 0.3s ease;
    padding: 10px;
    font-size: 1.05em;
    cursor: pointer;
}

.dropdown-content-subjects a:hover {
    background-color: #f0a818;  
    color: #000000;
}

.dropdown-subjects:hover .dropdown-content-subjects {
    display: block;
}

.dropdown-subjects:hover .dropdown-button-subjects {
    background-color: #5a6268;
    border-radius: 1px;
}


